.listContainer {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;

  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }

  .enter {
    opacity: 0;
    transform: translateY(100%);
  }
  .enterActive {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms, transform 500ms;
  }
  .exit {
    opacity: 1;
    transform: translateY(0%);
  }
  .exitActive {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms, transform 500ms;
  }
}
