:root {
  --color-background: #fcfcfc;
  --color-primary: #0082d4;
  --color-danger: #c22a22;
  --color-white: #fff;
  --color-gray-light: #e2e7ec;
  --color-gray-dark: #8c9da7;
  --color-text-light: #8b9da7;
  --color-text-dark: #444;
  --color-incomplete: #444;
  --color-completed: #13bbb2;
  --color-button: #0082d4;
  --color-button-hover: #0a93e9;
}
